*{
    margin:0;
    padding:0;
    font-family:Poppins, sans-serif;
}

body{
    background: linear-gradient(135deg, #ff00c8, #7a00ff, #00e0ff);
    background-size:400% 400%;
    animation:gradient 10s infinite alternate;
    color:white;
    text-align:center;
}

@keyframes gradient{
    0%{background-position:0% 50%;}
    100%{background-position:100% 50%;}
}

header{
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
}

nav a{
    margin:0 15px;
    text-decoration:none;
    color:white;
    font-weight:bold;
}

nav a:hover, .active{
    color:yellow;
}

.hero{
    margin-top:120px;
}

.hero h1 span{ color:#ffdd00; }

.btn{
    background:white;
    color:black;
    padding:10px 25px;
    border-radius:25px;
    margin-top:20px;
    display:inline-block;
    font-weight:bold;
}
