body{
    margin:0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color:white;
}

/* Navbar */
nav{
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
    font-size:20px;
}
nav a{
    margin:0 10px;
    color:white;
    text-decoration:none;
    font-weight:600;
}
nav a:hover{
    color:#ffd700;
}

/* Hero */
.hero{
    height:80vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}
.hero h1{
    font-size:45px;
}
.btn{
    margin-top:20px;
    padding:12px 30px;
    background:white;
    color:#2575fc;
    border-radius:30px;
    font-size:18px;
    text-decoration:none;
    font-weight:600;
}
.btn:hover{
    background:#ffd700;
    color:black;
}
